* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(79, 79, 79);
}
::-webkit-scrollbar-track {
  width: 5px;
}

/* head page */
.head-of-page {
  background: url(images/download.jpg);
  background-size: cover;
  width: 100%;
  height: 655px;
  position: relative;
  overflow: hidden;
}
.head-sub {
  background: rgba(38, 38, 38, 0.9);
  text-align: center;
  width: 65%;
  margin: auto;
  padding: 20px 0px 20px 0px;
}
.headwe {
  font-family: "OpenSans-Light-webfont";
  text-transform: uppercase;
  font-size: 50px;
  line-height: 50px;
  color: #ec572c;
  padding: 0px 0px 20px 0px;
  width: fit-content;
  position: relative;
  margin: auto;
}
.headwe::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
}
.logocom {
  text-transform: uppercase;
  font-size: 60px;
  line-height: 160px;
  font-weight: 900;
  color: #fff;
}
.logocom span {
  color: #ec572c;
}
.headdes {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 50px;
  color: #ec572c;
  position: relative;
  padding: 30px 0px 20px 0px;
  width: fit-content;
  margin: auto;
}
.headdes::after {
  position: absolute;
  content: "";
  top: 0;
  left: 10px;
  width: 93%;
  height: 1px;
  background-color: white;
}
.contacts ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contacts ul li {
  padding: 20px;
}
.contacts ul li span {
  position: relative;
}
.contacts ul li span a {
  text-decoration: none;
  color: white;
}
.contacts ul li span::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.contacts ul li span::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.contacts ul li span:hover::before {
  transform: rotate(-45deg);
  bottom: 10px;
  left: -5px;
  opacity: 0.4;
}
.contacts ul li span:hover::after {
  transform: rotate(45deg);
  top: 5px;
  left: -5px;
  opacity: 0.4;
}
.about {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.about-link img {
  width: 4%;
  transform: scale(1);
  transition: all 0.5s;
}
.about-link:hover img {
  transform: scale(1.5);
}
.about-link {
  padding-bottom: 10px;
}
.who-we-part {
  background: url(images/classy_fabric.png);
}
.who-we {
  background: #202020;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}
.parts ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.menues {
  display: none;
}
.parts {
  width: 50%;
}
.parts ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 5px;
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}
.parts ul li:hover a {
  color: #999;
}
.logo {
  width: 14%;
  text-align: center;
  margin-top: 3px;
}
.who1 {
  color: #ec572c;
  position: relative;
  overflow: hidden;
  right: -14px;
  top: -10px;
  width: fit-content;
  font-size: 30px;
  transform: skewX(-20deg);
}

.line {
  height: 70px;
  width: 1px;
  transform: skewX(-25deg);
  background: url(images/line2.png);
  overflow: hidden;
  position: relative;
  right: -10px;
}
.who2 {
  transform: skewX(-30deg);
  color: white;
  font-size: 30px;
  position: relative;
  z-index: 3;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.who2 h1 {
  position: relative;
  left: -20px;
}
.who1 h1 {
  transform: skewX(-15deg);
  position: relative;
  right: -14px;
}

.who-we-des {
  display: flex;
  flex-direction: row;
  width: fit-content;
  overflow: hidden;
  margin-left: 10%;
}
.about-us p {
  color: white;
  width: fit-content;
  margin-left: 12%;
  margin-top: 20px;
  background: #1e1f20;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.about-us p span {
  border-bottom: 1px dotted #ec572c;
}
.about-us {
  padding-bottom: 50px;
  margin-left: 60px;
}
.what-we-can {
  background: url(images/debut_dark.png);
  padding-bottom: 20px;
}
.what-we-do {
  background: url(images/classy_fabric.png);
  border-radius: 5px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  box-shadow: 0 2px 7px rgb(0 0 0 / 40%);
}
.what-we-can-do {
  background: url(images/debut_dark.png);
  padding: 60px 0px 40px 0px;
}
.what-we-do h2 {
  color: white;
  padding-bottom: 20px;
  font-size: 26px;
  line-height: 32px;
}

.what-we-do p {
  color: white;
  font-size: 20px;
  padding: 20px 0px 0px 20px;
}
.lap-p {
  color: #ec572c;
  font-size: 40px;
  padding: 20px;
}
.icon-do {
  width: fit-content;
  border-radius: 50%;
  background: #292929;
}
.p-do {
  display: flex;
  flex-direction: row;
}
.what-we-can-1st {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 90%;
  margin: auto;
}
.facts {
  background: url(images/classy_fabric.png);
  overflow: hidden;
  padding: 30px 0px 30px 0px;
}
.facts-body {
  width: 80%;
  margin: auto;
}
.facts h3 {
  color: #ec572c;
  font-size: 34px;
  line-height: 40px;
  padding-bottom: 10px;
}
.facts p {
  color: white;
  margin-bottom: 20px;
}
.icon2 {
  color: #ec572c;
  font-size: 40px;
  animation: trophy 5s infinite linear;
}
.icon3 {
  color: #ec572c;
  font-size: 40px;
  animation: earth 5s infinite linear;
}
.icon4 {
  color: #ec572c;
  font-size: 40px;
  animation: go-big 1s infinite linear;
}
.icon5 {
  color: #ec572c;
  font-size: 40px;
  transform: rotate(-43deg);
  animation: rocket 5s infinite forwards;
}
.win-award span {
  color: white;
  font-size: 40px;
}

.win-award p {
  font-size: 20px;
}
.featurs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.client-survey {
  background: url(images/sky.jpg);
  background-position: 50% 20%;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  padding: 40px 0px 40px 0px;
}
.client-part {
  padding: 20px;
  margin: auto;
  width: 70%;
  text-align: center;
}
.head {
  padding-bottom: 20px;
}
.head span {
  background: rgba(38, 38, 38, 0.9);
  padding: 10px;
  color: white;
}
.p-survey {
  background: rgba(38, 38, 38, 0.9);
  padding: 10px;
}
.p-survey p {
  color: white;
  padding-bottom: 20px;
  font-size: 20px;
  position: relative;
}
.p-survey p::after {
  position: absolute;
  bottom: 2px;
  left: 42%;
  content: "";
  width: 150px;
  height: 1px;
  background-color: white;
}
.p-survey h5 {
  color: white;
  margin-top: 20px;
}
.clouds {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: -50px;
  left: 0;
  animation: clouds 15s infinite linear;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon-1st {
  background: rgba(38, 38, 38, 0.9);
  margin-right: 20px;
  padding: 5px;
  border-radius: 50%;
  height: 15px;
}
.about-us2 {
  margin-left: 0px !important;
  padding: 50px 0px 50px 0px;
}
.img-team {
  position: relative;
  width: 90%;
  margin-bottom: 20px;
}
.img-team img {
  width: 100%;
}
.name {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
}
.team1 {
  width: 40%;
}
.ul-descripe {
  list-style: none;
}
.ul-descripe li i {
  color: #ec572c;
  margin-right: 10px;
  font-size: 12px;
}
.ul-descripe li {
  color: white;
  padding-bottom: 10px;
}
.descripe h2 {
  padding-bottom: 20px;
  font-size: 26px;
  line-height: 32px;
  color: white;
}
.our-team2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
.team-ul {
  justify-content: start !important;
}

.per {
  background-image: url(images/per.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  border: solid rgba(255, 255, 255, 0.753) 2px;
  border-radius: 50%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;

  z-index: 1;
}
.our-skills {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.per-in {
  font: bold 34px Arial;
  padding-top: 20px;
  border: solid 5px #fff;
  border-radius: 50%;
  width: 92%;
  height: 79%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-right-color: transparent;
}
.per-in1 {
  border-right-color: #fff;
}
.per-in2 {
  border-right-color: white !important;
  border-left-color: transparent;
}
.per-in4 {
  border-bottom-color: transparent;
}
.skills2 {
  width: 10%;
}
.skills2 h4 {
  padding-bottom: 15px;
  font-size: 26px;
  line-height: 32px;
  color: #e9e9e9;
}
.our-latest-shot {
  background-image: url(images/parallax-1.jpg);
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  padding: 100px 0px 90px 0px;
}
.our-latest-shot span {
  background: rgba(38, 38, 38, 0.9);
  padding: 10px;
  color: white;
}
.our-latest-shot h4 {
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 32px;
  color: #e9e9e9;
  font-family: "Poiret One", cursive;
  text-transform: uppercase;
  font-weight: 600;
}
.img22 img {
  width: 100%;
}
.img22 {
  transition: all 0.2s ease-in-out;
}
.img22:hover {
  cursor: pointer;
  opacity: 0.7;
}
.imgs-part1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin: auto;
  gap: 5px;
}
.doing-part {
  background: url(images/classy_fabric.png);
}
.who1-2 h1 {
  right: -4px !important;
}
.about-us3 {
  padding-top: 50px;
}
.our-work-service {
  background: url(images/debut_dark.png);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.graphic-body h5 {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 26px;
  line-height: 32px;
  color: #e9e9e9;
}
.graphic-body i {
  color: #ec572c;
  font-size: 60px;
  line-height: 60px;
}
.graphic-body p {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  color: #e9e9e9;
}
.graphic-body ul {
  list-style: none;
  height: 200px;
}
.graphic-body ul li {
  width: 90%;
  color: #e9e9e9;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.graphic-body:hover ul li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.graphic-body:hover i {
  color: white;
}
.graphic-body:hover {
  transform: scale(1.07);
  background: #292929;
}
.graphic-body {
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  text-align: center;
  background: url(images/classy_fabric.png);
  transform: scale(1);
}
.graphic {
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100%;
  width: 25%;
}
.u-ready {
  background: url(images/classy_fabric.png);
  padding: 50px 0px 20px 0px;
  text-align: center;
}
.subj {
  padding: 0px 0px 40px 0px;
  color: #e9e9e9;
  font-size: 26px;
  line-height: 32px;
  font-weight: 600;
  font-family: "Poiret One", cursive;
}
.subj h4 {
  background: #1e1f20;
  width: fit-content;
  margin: auto;
}
.in-tou {
  position: relative;
  width: fit-content;
  margin: auto;
}
.in-tou:hover::before {
  height: 10px;
}
.in-tou:hover span {
  opacity: 1;
  top: 1px;
}
.in-tou::before {
  content: "";
  width: 100px;
  height: 1px;
  top: -20px;
  left: 2px;
  background: #e9e9e9;
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.in-tou a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
}
.in-tou a p {
  padding-bottom: 10px;
}
.in-tou span {
  color: #ec572c;
  position: relative;
  top: -20px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.clients {
  background: url(images/parallax-3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0px 50px 0px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.clients h5 {
  margin-bottom: 30px;
  text-align: center;
  background: rgba(38, 38, 38, 0.9);
  padding: 10px;
  width: fit-content;
  margin: auto;
  color: #e9e9e9;
  font-family: "Poiret One", cursive;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
}
.clients-log {
  background: rgba(38, 38, 38, 0.9);
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
}
.rows1 {
  width: 50%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.rows1 span {
  animation: fallingLeaves 9s infinite linear;
  width: 5%;
}
.rows1 span img {
  width: 100%;
}
.rows2 {
  width: 25%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: -1;
}
.rows2 span {
  animation: fallingLeaves 7s infinite linear;
  width: 8%;
}
.rows2 span img {
  width: 100%;
}
.rows3 {
  width: 40%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: -1;
}
.rows3 span {
  animation: fallingLeaves 5s infinite linear;
}
.rows4 {
  width: 40%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 70px;
  left: 20px;
  z-index: -1;
}
.rows4 span {
  animation: fallingLeaves 3s infinite linear;
}
.books {
  background: url(images/debut_dark.png);
  padding: 40px 0px 40px 0px;
}
.books2-2 li:first-child a {
  color: #ec572c !important;
}
.book1 {
  margin: auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.book1:hover img {
  transform: scale(1.2);
}
.book1 img {
  width: 100%;
  overflow: hidden;
  display: block;
  transition: 0.5s all ease-in-out;
}
.book1:hover .xabsolu {
  opacity: 1;
}
.book1:hover .photo-subj {
  bottom: 20px;
  left: -100px;
  opacity: 1;
}
.xabsolu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.356);
  color: #e9e9e9ea;
  opacity: 0;
  transition: 0.5s all ease-in-out;
}
.photo-subj {
  position: absolute;
  bottom: 20px;
  left: -400px;
  color: white;
  background: url(images/debut_dark.png);
  width: 100%;
  text-align: end;
  padding: 10px;
  transition: 0.5s all ease-in-out;
  opacity: 0;
}
.books-photo {
  width: 65%;
  margin: auto;
}
.books1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.books2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 21px;
  margin-bottom: 10px;
}
.books3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.books1-1-1 {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 10px;
}
.books1-1 {
  width: 96%;
}
.book3 {
  width: 96%;
}
.book4 {
  width: 88%;
}
.book5 {
  width: 77%;
  position: relative;
  top: -32px;
}
.book6 {
  width: 88%;
}
.book7 {
  width: 90%;
}
.book8 {
  width: 85%;
  position: relative;
  top: -55px;
}
.book2 {
  width: 90%;
}
.book9 {
  width: 90%;
  top: -10px;
}
.books2-2 {
  margin-bottom: 20px;
}
.subject-news h5 {
  background: rgba(38, 38, 38, 0.9);
  padding: 10px;
  color: white;
}
.latest-news {
  background: url(images/parallax-4.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 30px 0px 30px 0px;
}
.latest-news h5 {
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  font-size: 26px;
  line-height: 32px;
  color: #e9e9e9;
  font-family: "Poiret One", cursive;
  text-transform: uppercase;
  font-weight: 600;
}
.posts {
  width: 30%;
  margin: auto;
}
.img-post {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.img-post img {
  width: 100%;
  display: block;
}
.date-time {
  position: absolute;
  top: 20px;
  left: 20px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.date-time p {
  color: white;
  width: fit-content;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
}
.x-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #999;
  opacity: 0;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.img-post:hover .date-time p {
  background: transparent;
}
.img-post:hover .date-time {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.img-post:hover .x-icon {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.post-p h3 {
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: left;
}
.post-p p {
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: left;
}
.post-p span {
  color: #fff;
  padding: 8px 15px;
  text-align: left;
  background: rgba(0, 0, 0, 0.5);
  width: fit-content;
  margin-left: 18px;
  cursor: pointer;
}
.post-p {
  background: rgba(38, 38, 38, 0.96);
  padding: 5px 0px 40px 0px;
  cursor: grab;
}
.postss {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}
.point1 {
  width: 18px;
  height: 18px;
  background: rgba(38, 38, 38, 0.96);
  border-radius: 50%;
  margin-right: 10px;
}
.poin1-1 {
  background: rgba(38, 38, 38, 0.76) !important;
}
.points {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 20px;
}
.directions {
  text-align: center;
}
.directions span {
  padding: 8px;
  font-size: 12px;
  background: #292929;
  opacity: 0.8;
  color: white;
  font-size: 15px;
}
.chat {
  background: transparent !important;
}
.who-we-part-2 {
  padding-top: 40px;
}
.form-contact h3 {
  font-size: 34px;
  line-height: 40px;
  color: #ec572c;
  padding-bottom: 25px;
  font-family: "Poiret One", cursive;
  text-transform: uppercase;
  font-weight: 600;
}
.form-contact {
  background: url(images/debut_dark.png);
  padding: 40px 0px 40px 0px;
}
.width-cont {
  width: 80%;
  margin: auto;
}
.inputs-info input {
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}
.inputs-info input:focus-visible {
  outline: none;
}
.inputs-info textarea {
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  color: #fff;
}
.inputs-info textarea:focus-visible {
  outline: none;
}
.inputs-info label {
  font: 15px/34px "OpenSans-Light-webfont";
  color: #fff;
}
.inputs-info button {
  background: rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  border: none;
  color: #fff;
  display: inline-block;
  font-family: "OpenSans-Light-webfont";
  font-size: 16px;
  cursor: pointer;
  line-height: normal;
  padding: 15px 25px;
  width: 100%;
}
.our-info {
  background: url(images/classy_fabric.png);
  padding: 40px 0px 40px 0px;
}
.address h3 {
  color: #e9e9e9;
  padding-bottom: 20px;
  font-size: 26px;
  line-height: 32px;
  font-family: "Poiret One", cursive;
  text-transform: uppercase;
  font-weight: 600;
}
.infos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 81%;
  margin: auto;
}
.address p {
  padding-bottom: 5px;
  color: #e9e9e9;
}
.emails-cont p a {
  text-decoration: none;
  color: #e9e9e9;
}
.emails-cont p a:hover {
  color: #999;
}
.copy-right {
  width: 100%;
  background: #202020;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}
.copy-rights {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}
textarea {
  resize: none;
}
@keyframes trophy {
  0% {
    -webkit-transform: scale(1);
  }
  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}

@keyframes earth {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes go-big {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}

@keyframes rocket {
  0% {
    transform: rotate(-43deg);
  }
  25% {
    transform: rotate(20deg);
  }
  49% {
    transform: translateX(120%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes clouds {
  0% {
    right: 0;
  }
  50% {
    left: -500px;
  }
  100% {
    left: -1000px;
  }
}
@keyframes fallingLeaves {
  0% {
    opacity: 1;
    transform: translate(0, 0px) rotate(0deg);
  }
  75% {
    opacity: 1;

    transform: translate(100px, 600px) rotate(270deg);
  }
  100% {
    opacity: 0;

    transform: translate(150px, 800px) rotate(360deg);
  }
}
